.contenedor{
height: calc(100vh - 76px);
display: grid;
padding: 20px;
grid-template-columns: repeat(4,1fr);
grid-column-gap: 10px;
overflow-x: scroll;
}

.avatar{
    background-color: #e4097f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

.turno-card{
 cursor: pointer;
}

.loading{
    height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
    align-items: center;
}