<div class="loading" *ngIf="loading$ | async">
  <mat-spinner color="accent" diameter="40"></mat-spinner>
</div>
<div class="contenedor animatedSlow fadeInLeft">
  <div class="turno" *ngFor="let item of turnos$ | async; let i = index">
    <mat-card
      class="turno-card"
      (click)="getturno(item,i+1)"
      [routerLink]="item.cedula"
    >
      <mat-card-header>
        <div mat-card-avatar class="avatar">{{ i + 1 }}</div>
        <mat-card-title>{{ item.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ item.cedula }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
