<div class="contenedor animatedSlow fadeIn">
  <div class="turnos">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar">{{ (turno$ | async)?.numero }}</div>
        <mat-card-title>{{ (turno$ | async)?.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ (turno$ | async)?.email }}</mat-card-subtitle>
        <mat-card-subtitle>CC {{ (turno$ | async)?.cedula }}</mat-card-subtitle>
        <mat-card-subtitle>Cita {{ (turno$ | async)?.tipocita }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="title">Asignacion Automatica</div>
        <div class="asignacion">{{ (turno$ | async)?.automatica ? "SI" : "NO" }}</div>
        <div class="title">Observaciones</div>
        <div>
          {{ (turno$ | async)?.observaciones }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar"><mat-icon>
          add_box
        </mat-icon></div>
        <mat-card-title>
          Asigne La cita
        </mat-card-title>
        <mat-card-subtitle>
         Selecione Fecha y Doctor
        </mat-card-subtitle>
      </mat-card-header>
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <mat-label>Selecione Un Doctor</mat-label>
        <mat-select>
          <mat-option value="Armando Armas">Armando Armas</mat-option>
          <mat-option>Hernado Ramirez</mat-option>
          <mat-option>Orlando Rojas</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de la cita</mat-label>
        <input
          matInput
          [matDatepicker]="Frefrendacion"
          name="vigencia"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="Frefrendacion"
        ></mat-datepicker-toggle>
        <mat-datepicker #Frefrendacion disabled="false"></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="accent">Asignar Cita</button>
    </mat-card>
  </div>
  <div
    class="chat"
    [ngStyle]="{
      'grid-template-rows': infomessage ? '76px calc(50vh - 104px) 1fr' : null
    }"
  >
    <div class="usuario">
      <div class="avatar">{{ (turno$ | async)?.nombre[0] }}</div>
      <div class="nombre">
        <div>{{ (turno$ | async)?.nombre }}</div>
        <div class="subtitle">{{ (turno$ | async)?.email }}</div>
      </div>
    </div>
    <div class="mensajes" #content>
      <div
        class="mensajechat animated slideInUp"
        #messages
        *ngFor="let item of  (turno$ | async)?.mensajes"
        [ngClass]="{ rigth: item.recibido }"
      >
        {{ item.mensaje }}
      </div>
    </div>
    <div class="send">
      <div class="sendinput">
        <span class="avatar" (click)="infomessage = !infomessage">
          <mat-icon>message</mat-icon>
        </span>
        <input
          #texto
          name="Text1"
          col="10"
          placeholder="Escribir Mensaje"
          class="inputchat"
          (keydown.enter)="sendMensajes()"
        />
        <span class="avatar">
          <mat-icon (click)="sendMensajes()">send</mat-icon>
        </span>
      </div>

      <div class="messages animated slideInUp" *ngIf="infomessage">
       <div class="mjsp" *ngFor="let item of mensajesp$ | async">
         <div class="mensajechat">
            {{item.mensaje}}
         </div>
         <button mat-raised-button color="accent" (click)="texto.value=item.mensaje;sendMensajes()">Enviar</button>
       </div>
      </div>
    </div>
  </div>
</div>
