.contenedor {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-sizing: border-box;
  height: calc(100vh - 56px);
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.addmensaje {
  padding: 20px;
}


.addmensaje {
  height: calc(100vh - 56px);
  box-sizing: border-box;
}

.listamensajes {
  overflow-y: scroll;
  padding: 10px 10px;
}
.encabezado {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 13px;
  display: grid;
  grid-template-columns: 1fr 70px 70px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 70px 70px;


}
.itemMensaje {
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 4px;
}

.loading{
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
}