<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="animated fadeIn fast">
    Menu
  </span>
  <!--  <div class="input-icono">
    <input type="text" placeholder="Buscar" class="inputbuscar" #text />
  </div> -->

  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon style="color: white;">power_settings_new</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="outlogin()">
      <span>Cerrar Sesion</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="example-container" opened="true">
    <mat-list>
      <mat-action-list class="menuicon">
        <button mat-list-item class="menuicon" routerLink="turnos">
          <mat-icon
            class="example-icon"
            color="accent"
            style="margin-right:20px;"
            >date_range</mat-icon
          >
          Turnos
        </button>
        <button mat-list-item class="menuicon">
          <mat-icon
            class="example-icon"
            color="accent"
            style="margin-right:20px"
            >chat_bubble_outline</mat-icon
          >
          Mensajes Personalizados
        </button>
        <button mat-list-item class="menuicon">
          <mat-icon
            class="example-icon"
            color="accent"
            style="margin-right:20px"
            >assignment</mat-icon
          >
          Agenda
        </button>
      </mat-action-list>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="contenedor">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
